<button
  id="new-board" class="dropdown-toggle navbar-btn btn btn-primary"
  data-toggle="dropdown" {{action "showInput" inputName="board-input"}}
>
  <span class="glyphicon glyphicon-plus"></span>
   New Board
</button>

{{board-input action="createBoard"}}

{{#obj-list}}
  {{#each model as |board|}}
    {{obj-item obj=board action="toShow"}}
  {{/each}}
{{/obj-list}}
