<h2 id="title">Welcome to Not Trello!!!</h2>
<p>
  This site acts like, but is in fact not, Trello
</p>

{{new-obj-button}}
{{obj-input action="createBoard"}}

{{#obj-list}}
  {{#each model as |board|}}
    <li>{{obj-item obj=board action="toShow"}}</li>
  {{/each}}
{{/obj-list}}
