{{input id="board-input" type="text" placeholder="Name this board"
  value=boardTitle enter="createBoard"}}

<button type="button" name="button" {{action "createBoard" boardTitle boardTitle}}>
  Create Board
</button>
